{% extends "base.html" %}

{% block title %}Home - UWA Aerospace{% endblock %}

{% block content %}
<!-- Hero Section -->
<header class="hero-section text-white text-center py-5">
    <h1 class="display-4">Welcome to Rocket Simulation Tool</h1>
    <p class="lead">Explore the dynamics of rocket flight.</p>
</header>

<!-- Main Content -->
<div class="container my-5">
    <h2 class="text-center mb-4">Simulation Features</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <button id="flightProfileBtn" class="btn btn-outline-primary btn-block">Plot Flight Profile</button>
        </div>
        <div class="col-md-4 mb-3">
            <button id="dragCoefficientBtn" class="btn btn-outline-secondary btn-block">Plot Drag Coefficient vs
                Mach</button>
        </div>
        <div class="col-md-4 mb-3">
            <button id="stabilityTimeBtn" class="btn btn-outline-success btn-block">Plot Stability vs Time</button>
        </div>
        <div class="col-md-4 mb-3">
            <button id="motorThrustCurveBtn" class="btn btn-outline-info btn-block">Plot Motor Thrust Curve</button>
        </div>
    </div>
</div>
{% endblock %}